html {
    font-size: 14px;
    background-color:#a8d7f5;
}
nav {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9e9e9e7d ;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
}

#header {
    margin-top: 0;
    padding-top: 4%;
    height: 15%;
    width: 100%;
    display: block;
    border-bottom: 1px solid black;
    background-color: ;
    background-color: #607D8B;
}

#image-container {
    width: 50%;
    height: 50%;
    background-image: url("./images/user_profile.png");
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    border-radius: 50%;
}

#text-container {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 5% 5%;
}

#menu-items {
    margin-top: 25%;
}

#menu-items a {
    margin: auto;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: hsl(0deg 0% 0% / 15%);
}

#group-items > a {
    border-bottom: 0.5px solid #00000047;
}

#menu-items > a {
    border: 1.5px solid black;
}

#group-items {
    display: none;
}

#menu-items a:hover, #group-items a.active {
    background-color: rgb(0 0 0 / 52%);
}

main{
    transition: margin-left 0.5s;
}

#hamburger-button {
    position: sticky;
    top: 15px;
    left: 5px;
    margin-top: 10px;
    background-color: white;
}

#hamburger-button:hover {
    background-color: darkgray;
}

main section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px 10px 5px;
    align-items: center;
}

#search-contact{
    width: 40%;
    font-size: 25px;
    height: 50px;
    margin-right: 20px;
}

#create-new-contact{
    display: inline;
}

#create-new-contact>img {
    width: 80px;
    height: 80px;
}

#address-book-area {
    margin: 5% 6%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-column-gap: 4rem;
    grid-row-gap: 5rem;
    justify-content: center;
    justify-items: left;
    font-size: 1.4rem;
}

.placard {
    position: relative;
    width: 350px;
    height: 300px;
    border-radius: 12px;
    background-color: gray;
  }
  
.placard .group-initial {
    position: absolute;
    top: 10px;
    left: 290px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    z-index: 1;
  }

.placard .profile {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.placard .profile h1 {
    font-size: 4rem; 
    text-align: center; 
    margin-top: 43px;
}

.placard .group-initial h2 {
    font-size: 1.5rem; 
    text-align: center; 
    margin-top: 13px;
    font-weight: 500;
}

.placard .profile-photo {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
.placard .content {
    position: absolute;
    top: 35px;
    left: 170px;
    width: 150px;
    height: 230px;  
    padding-left: 10px;
    padding-right: 10px;  
}

.placard .content h1{
    font-size: 2.2rem;
}

.placard .content h2{
    font-size: 1.5rem;
    font-weight: normal;
}

.placard .content p{
    font-size: 1rem;
}

.placard .date-created {
    position: absolute;
    top: 240px;
    left: 10px;
    width: 180px;
    height: 50px;
  }

.placard .options {
    position: absolute;
    top: 240px;
    left: 200px;
    width: 140px;
    height: 50px;
    display: none;
}

.placard .options img {
    margin-left: 15px;
}

.placard:hover > .options {
    display: block;
}

.placard > table {
    padding: 10% 0% 0% 5%;
    border-radius: 4rem;
    width: 85%;
    height: 100%;
    background-color: #f0a87a;
}

.placard td.col1 {
    width: 100px;
}

.placard tr, .placard td {
    line-height: 2em;
}

.modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

.modal-content-area > h2 {
    text-align: center;
    line-height: 2em;
    font-size: xx-large;
    margin-bottom: 3%;
}

.modal-content-area {
    border: 1px solid black;
    background-color: #add;
    margin: 10% auto;
    height: 70%;
    width: 70%;
    position: relative;
    border-radius: 12rem;
}

.modal-flex-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 76%;
    width: 96%;
    padding: 4% 4%;
    column-gap: 5%;
}

.modal-flex-area .flex-item-1 {
    width: 30%;
    height: 60%;;
}

.modal-flex-area .flex-item-2 {
    width: 50%;
    height: 80%;
}

.modal-flex-area table {
    width: 100%;
}

.modal-flex-area td{
    font-size: 1.5rem;
    text-align: left;
    padding-left: 4%;
}

.modal-flex-area td.col1 {
    width: 140px;
}

.modal-flex-area tr{
    line-height: 3rem;
}

.modal-flex-area #buttons {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.modal-flex-area input[type="button"], .modal-flex-area input[type="submit"] {
    width: 100px;
    height: 40px;
}

 td.col1 {
    font-weight: bold;
}